*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #333;
}

#container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

#emulator-screen {
    width: 835px;
    height: 419px;
    background-color: black;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(64, 12px);
    grid-template-rows: repeat(32, 12px);
    gap: 1px;
    padding: 1px;
    border-radius: 4px;
    box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.81);
}

.pixel {
    border-radius: 2px;
}

.pixel.low {
    background-color: black;
}

.pixel.high {
    background-color: white;
}